
<div class="py-5 px-2 md:px-8 text-blue-700">
    <div class="zurich-primary-text mb-3 font-medium text-2xl mb-1 md:align-content-start text-center">A tener en cuenta</div>
    <div class="col-12 flex justify-content-center flex-wrap">
        <div class="h-16rem ">
            <div class="shadow-2 flex flex-column surface-card border-round px-3 py-3">
                <div class="text-600 mb-5 zurich-primary-dark-text">
                    <p>Durante este proceso te vamos a pedir algunas fotos de tu auto, que vas a tener
                      que sacar desde tu teléfono.
                    </p>
                    <hr>
                    <!--<p class="text-blue-600"><b>Es importante que:</b></p> -->
                    <p class="zurich-primary-light-text"><b>Es importante que:</b></p>
                    <ul class="text-left list-none pl-0">
                        <li class="mb-3">
                            <i class="pi pi-check text-blue-600"></i>
                            <span class="ml-2">Estés en un lugar bien iluminado</span>
                        </li>
                        <li class="mb-3">
                            <i class="pi pi-check text-blue-600"></i>
                            <span class="ml-2">Tu teléfono cuente con conexión a internet ya que si
                              la señal se corta se interrumpe el proceso y vas a tener que comenzar nuevamente.
                            </span>
                        </li>
                        <li class="mb-3">
                          <i class="pi pi-check text-blue-600"></i>
                          <span class="ml-2">El vehículo esté limpio</span>
                      </li>
                    </ul>
                </div>
                <a class="text-blue-600 text-center mt-3 block" href="https://www.youtube.com/watch?v=hfIUXou18iI" target="_blank" rel="noopener noreferrer">
                  <span class="underline">¿Cómo realizar la inspección digital?</span>
                </a>
            </div>

            <div class="text-center">
                <button pButton pRipple label="Continuar" icon="pi pi-chevron-circle-right" iconPos="right"
                    class="px-5 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 my-4"
                    (click)="nextPage()"></button>
            </div>

        </div>
    </div>
</div>
