
<div class="px-4 py-5 md:px-6 lg:px-8 text-center text-blue-700">
    <div class="text-blue-600 mb-3 font-medium text-2xl mb-4">Documentación</div>

    <div class="grid ">
        <div class="col-12 lg:col-4">
            <div class="p-3 h-15rem">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card border-radius-6 in_center">
                    <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl "></i>
                    </div>
                    <span>Documentación</span>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-15rem">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card border-radius-6 in_center">
                    <div class="font-medium text-xl mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                   <span>Documentación</span>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-15rem">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card border-radius-6 in_center">
                    <div class="font-medium text-xl mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Documentación</span>
                </div>
            </div>
        </div>
        
        <div class="col-12 lg:col-4">
            <div class="p-3 h-15rem">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card border-radius-6 in_center">
                    <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Documentación</span>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-15rem">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card border-radius-6 in_center">
                    <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Documentación</span>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-15rem">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card border-radius-6 in_center">
                    <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Documentación</span>
                </div>
            </div>
        </div>
    </div>

    <button pButton pRipple label="Finalizar" icon="pi pi-chevron-circle-right" iconPos="right" 
            class="px-5 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 mt-7"
            (click)="nextPage()"></button>
            
</div>

