<div class="text-blue-700 bicolor">
  <div class="flex justify-content-center flex-wrap">
    <div class="surface-card p-3 shadow-2 border-round w-6 lg:w-6 mt-8">
      <div class="text-center">
        <p>Enviamos a tu cliente el link para realizar la inspección por fotos</p>
        <a href="https://www.zurich.com.ar/" style="text-decoration-line: none;">
          <button pButton pRipple label="Finalizar" class="w-full bg-blue-700 p-button-raised p-button-rounded"></button>
        </a>
      </div>
    </div>
  </div>
</div>
