<div class="py-2 md:px-9 lg:px-8 text-center text-blue-700">
    <div class="text-blue-600 mb-3 font-medium text-2xl mb-1 md:align-content-start">Confirmar Auto</div>
        <div class="col-12 flex justify-content-center flex-wrap wrapper">
            <div class="h-16rem ">
                <div class="shadow-2 flex flex-column surface-card border-round px-3 py-3">
                    <div class="col-12 md:col-12 lg:col-12">
                        <div class="flex mb-3 pt-1 justify-content-between lg:justify-content-center mx-4">  <!-- justify-content-between  -->
                             <div class="text-center lg:mx-4">
                                 <span class="block mb-3">Dominio</span>
                                 <div class="font-medium text-xl">ZZZ014</div>
                             </div>
                             <div class="text-center lg:mx-4">
                                 <span class="block mb-3">Año</span>
                                 <div class="font-medium text-xl">2019</div>
                             </div>
                         </div>
                         <hr>
                         <div class="flex pt-3 mb-3 text-blue-800 lg:justify-content-center">
                             <div class="flex align-items-center" style="width:3rem;height:3rem">
                                 <i class="pi pi-car text-blue-600 text-xl"></i>
                             </div>
                             <div class="text-left">
                                 <span class="block mb-1">Renault</span>
                                 <div class="">DUSTER 1.6 4X2 LOS PUMAS</div>
                             </div>
                         </div>                                                         
                         <hr>
                         <p class="mt-4 lg:justify-content-center">Si alguno de estos datos no es correcto comunícate al  
                             <b>0800-Zurich</b>
                         </p> 
                     </div>
                </div>
                <button pButton pRipple label="Continuar" icon="pi pi-chevron-circle-right" iconPos="right" 
                class="px-5 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 mt-4"
                (click)="nextPage()"></button>               
            </div>      
        </div>       
</div>
