<div class="text-blue-700 bicolor text-left">
    <div class="py-5 px-3 md:px-8">
    </div>

    <div class="flex justify-content-center flex-wrap">
        <div class="h-16rem ">
            <div class="shadow-2 flex flex-column surface-card border-radius-6 in_center px-5 py-4 mx-5">
                <button *ngIf="locationParams.coberturaDomicilio" pButton pRipple label="Inspector a domicilio" icon="pi pi-mobile" class="px-6 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 mb-4" (click)="goToAgendarDomicilio()"></button>
                <button pButton pRipple label="Ver centros cercanos " icon="pi pi-car" class="px-6 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 mb-4" (click)="goToAgendarCentro()"></button>
            </div>
        </div>
    </div>
    <div class="text-left ml-4">
        <button pButton pRipple label="Volver" icon="pi pi-chevron-circle-left" iconPos="left" class="px-5 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 mt-4" (click)="stepsService.navBack()"></button>
    </div>
</div>