
<!-- <div class="px-4 py-5 md:px-6 lg:px-8 text-center text-blue-700">
    <div class="text-blue-600 mb-3 font-medium text-2xl mb-4">Fotos auto</div>

    <div class="grid ">
        <div class="col-12 lg:col-4 ">
            <div class="p-3 h-15rem">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card border-radius-6 in_center cardClick">
                    <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl "></i>
                    </div>
                    <span>Lateral conductor</span>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-15rem">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card border-radius-6 in_center cardClick">
                    <div class="font-medium text-xl mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                   <span>Lateral conductor</span>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-15rem">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card border-radius-6 in_center cardClick">
                    <div class="font-medium text-xl mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Lateral conductor</span>
                </div>
            </div>
        </div>
        
        <div class="col-12 lg:col-4">
            <div class="p-3 h-15rem">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card border-radius-6 in_center cardClick">
                    <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Lateral conductor</span>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-15rem">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card border-radius-6 in_center cardClick">
                    <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Lateral conductor</span>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-15rem">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card border-radius-6 in_center cardClick">
                    <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Lateral conductor</span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-content-center flex-wrap card-container yellow-container mt-5">
        <div class="flex align-items-center justify-content-center">
            <span class="circle"></span>
        </div>
        <div class="flex align-items-center justify-content-center ml-2">Fotos obligatorias</div>
    </div>

    <button pButton pRipple label="Continuar" icon="pi pi-chevron-circle-right" iconPos="right" 
                class="px-5 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 mt-7"
                (click)="nextPage()"></button>
            
</div> -->

<!-- <div class="px-4 py-5 md:px-6 lg:px-8 text-center text-blue-700">
    <div class="text-blue-600 mb-3 font-medium text-2xl mb-4">Fotos auto</div>

    <div class="grid ">
        <div class="col-6 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 h-full flex flex-column surface-card border-radius-6 in_center"
                (click)="openWindowPhoto()">
                    <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl "></i>
                    </div>
                    <span>Lateral conductor</span>
                </div>
            </div>
        </div>

        <div class="col-6 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 h-full flex flex-column surface-card border-radius-6 in_center ">
                    <div class="font-medium text-xl mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                   <span>Lateral conductor</span>
                </div>
            </div>
        </div>

        <div class="col-6 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 h-full flex flex-column surface-card border-radius-6 in_center ">
                    <div class="font-medium text-xl mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Lateral conductor</span>
                </div>
            </div>
        </div>
        
        <div class="col-6 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 h-full flex flex-column surface-card border-radius-6 in_center ">
                    <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Lateral conductor</span>
                </div>
            </div>
        </div>

        <div class="col-6 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 h-full flex flex-column surface-card border-radius-6 in_center">
                    <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Lateral conductor</span>
                </div>
            </div>
        </div>

        <div class="col-6 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 h-full flex flex-column surface-card border-radius-6 in_center">
                    
                    <div class="font-medium mb-2 d-">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Lateral conductor</span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-content-center flex-wrap card-container yellow-container mt-5">
        <div class="flex align-items-center justify-content-center">
            <span class="circle"></span>
        </div>
        <div class="flex align-items-center justify-content-center ml-2">Fotos obligatorias</div>
    </div>

    <button pButton pRipple label="Continuar" icon="pi pi-chevron-circle-right" iconPos="right" 
                class="px-5 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 mt-7"
                (click)="nextPage()"></button>
            
</div> -->

<!-- <img src="assets/foto2.jpg" [alt]="" class="product-image" /> -->

<div class="px-4 py-5 md:px-6 lg:px-8 text-center text-blue-700">
    <div class="text-blue-600 mb-3 font-medium text-2xl mb-4">Fotos auto</div>

    <div class="grid ">
        <div class="col-6 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 h-full flex flex-column surface-card border-radius-6 in_center"
                (click)="openWindowPhoto()">
                    <p-image src="assets/lateral1.png" alt="lateral conductor" width="250" [preview]="true"></p-image>
                </div>
            </div>
        </div>

        <div class="col-6 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 h-full flex flex-column surface-card border-radius-6 in_center" (click)="openWindowPhoto()">
                    <p-image src="assets/lateral1.png" alt="lateral conductor" width="250" [preview]="true"></p-image>
                </div>
            </div>
        </div>

        <div class="col-6 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 h-full flex flex-column surface-card border-radius-6 in_center ">
                    <!-- <div class="font-medium text-xl mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Lateral conductor</span> -->
                    <p-image src="assets/lateral1.png" alt="lateral conductor" width="250" [preview]="true"></p-image>
                </div>
            </div>
        </div>
        
        <div class="col-6 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 h-full flex flex-column surface-card border-radius-6 in_center ">
                    <!-- <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Lateral conductor</span> -->
                    <p-image src="assets/lateral1.png" alt="lateral conductor" width="250" [preview]="true"></p-image>
                </div>
            </div>
        </div>

        <div class="col-6 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 h-full flex flex-column surface-card border-radius-6 in_center">
                    <!-- <div class="font-medium mb-2">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Lateral conductor</span> -->
                    <p-image src="assets/lateral1.png" alt="lateral conductor" width="250" [preview]="true"></p-image>
                </div>
            </div>
        </div>

        <div class="col-6 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 h-full flex flex-column surface-card border-radius-6 in_center">                 
                    <!-- <div class="font-medium mb-2 d-">
                        <i class="pi pi-plus-circle text-3xl"></i>
                    </div>
                    <span>Lateral conductor</span> -->
                    <p-image src="assets/lateral1.png" alt="foto adicional" width="250" [preview]="true"></p-image>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-content-center flex-wrap card-container yellow-container mt-5">
        <div class="flex align-items-center justify-content-center">
            <span class="circle"></span>
        </div>
        <div class="flex align-items-center justify-content-center ml-2">Fotos obligatorias</div>
    </div>

    <button pButton pRipple label="Continuar" icon="pi pi-chevron-circle-right" iconPos="right" 
                class="px-5 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 mt-7"
                (click)="nextPage()"></button>
            
</div>