<div class="px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
    <!-- <div class="text-blue-600 font-bold mb-3"><i class="pi pi-exclamation-triangle"></i>&nbsp;{{error.statusText}} {{error.status}}</div> -->
    <div class="text-blue-600 font-bold mb-3"><i class="pi pi-exclamation-triangle"></i>&nbsp;Sucedió algo inesperado</div>
    <div class="text-900 font-bold text-5xl mb-3">{{error.statusText}}</div>
    <div class="text-700 text-2xl mb-5">{{error.message}}</div>
    <a href="https://www.zurich.com.ar" style="text-decoration-line: none;">
      <button pButton pRipple label="Ir a Zurich" icon="pi pi-chevron-right" iconPos="right"
              class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap bg-blue-700"></button>
    </a>
  </div>
</div>
