<div class="py-2 md:px-9 lg:px-8 text-center text-blue-700">
    <div class="text-blue-600 mb-3 font-medium text-2xl mb-1 md:align-content-start">Inspección finalizada</div>
    <div class="col-12 flex justify-content-center flex-wrap wrapper">
        <div class="h-16rem ">
            <div class="shadow-2 flex flex-column surface-card border-round px-3 py-3">
                <div class="col-12 md:col-12 lg:col-12">
                    <div class="text-center lg:mx-4">
                        <span class="circle text-white">FOTO</span>
                    </div>
                    <p class="mt-4 justify-content-start"><b>Muchas gracias</b> por completar la autoinspección
                        de tu vehículo.                              
                     </p>
                    <div class="flex flex-column card-container green-container">
                        <div class="flex align-items-center justify-content-center h-4rem m-2">
                            <div class="flex align-items-center" style="width:3rem;height:3rem">
                                <i class="pi pi-car text-blue-600 text-xl"></i>
                            </div>
                            <div class="text-left">
                                <span class="mb-1">Renault</span>
                                <div>DUSTER 1.6 4X2 LOS PUMAS</div>
                            </div>
                        </div>
                        <div class="flex align-items-center justify-content-center h-4rem m-2 -ml-7">
                            <div class="flex align-items-center" style="width:3rem;height:3rem">
                                <i class="pi pi-file text-blue-600 text-xl"></i>
                            </div>
                            <div class="text-left">
                                <span class="mb-1">Número de gestión</span>
                                <div class="font-medium">XXXX</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p class="mt-4 ">Dentro de las próximas <b>48 horas</b> nos
                       comunicaremos para informarte acerca del resultado de la inspección.                              
                    </p>
                    <ul class="text-left pl-3 mx-5">
                       <li class="mb-3">
                           <span class="ml-2">
                               <b>Si la inspección resulta exitosa</b> 
                               te enviaremos un mail con una copia de la póliza y la cobertura contratada
                               entrará en vigencia a partir de ese momento.
                           </span>        
                       </li>
                       <li class="mb-3">                               
                           <span class="ml-2">
                               <b>Si necesitamos más datos</b>
                               o la covertura es rechazada nos comunicaremos para ofrecerte más opciones
                           </span>
                       </li>
                    </ul>
                    <p class="my-4">
                        Mientras tanto <b>tenés una cobertura limitada</b> pero que te permite circular.
                    </p>
                 </div>
            </div>
            <!-- <button pButton pRipple label="Continuar" icon="pi pi-chevron-circle-right" iconPos="right" 
            class="px-5 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 mt-4"
            (click)="nextPage()"></button>                -->
        </div>      
    </div>       
</div>
