.marca {
    text-transform: uppercase;
}

.filtros-repo {
    margin-bottom: 20px !important;
    padding: 30px;
}

.nav {
    padding: 20px;
}

.custom-select {
    width: 100%;
    padding: 0 20px;
}

.dominio {
    font-weight: 500 !important;
}

td,
th {
    font-size: 10pt !important;
    cursor: default;
}

.mat-column-aseguradoraNombre,
.asegurado-nombre {
    text-transform: uppercase;
}

.column-reinspeccion {
    padding: 0 20px;
    text-align: center;
}

.column-cant-avisos span {
    margin: 0 10px;
    text-align: center;

}

.context-menu-repo {
    font-size: 6pt !important;
}

.download-row {
    width: 100%;
    text-align: end;
}