<p-contextMenu #cmRepo [model]="checkAvailability()" [style]="{'font-size':'9pt'}"></p-contextMenu>

<p-confirmDialog header="Confirmación" key="anularDialog" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-dialog [(visible)]="enviarLinkDialog" [modal]="true"
    header="Enviar link del gestionador - {{selectedRow.dominio | uppercase}}" [style]="{width: '50vw'}">
    <div class="p-grid p-fluid" style="margin-top: 10px;">
        <span class="p-input-icon-left p-float-label">
            <i class="pi pi-at"></i>
            <input #emailGestionador id="email-input" type="text" pInputText [ngModel]="selectedRow.gestionador_email"
                [pKeyFilter]="blockSpaceFilter" [disabled]=validateEnvio(selectedRow)>
            <label for="email-input">Email</label>

        </span>
        <p-divider></p-divider>
        <span *ngIf="sms_available" class="p-input-icon-left p-float-label">
            <i class="pi pi-phone"></i>
            <input [(ngModel)]="celularAsegurado" id="celular-input" type="text" pInputText
                [pKeyFilter]="blockSpaceFilter" [disabled]="checkSms(selectedRow) || validateEnvio(selectedRow)">
            <label *ngIf="!checkSms(selectedRow)" for="celular-input">Celular asegurado</label>
            <label *ngIf="checkSms(selectedRow)" for="celular-input">Se ha alcanzado el limite de envios de sms</label>

        </span>
    </div>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-send" label="Enviar" [loading]="loadingEnviarLink"
            (click)="sendAccessLink(emailGestionador.value,celularAsegurado)"
            [disabled]="!helper.checkEmail(emailGestionador.value) || validateEnvio(selectedRow)"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="linkAseguradoDialog" [modal]="true" header="Link asegurado - {{selectedRow.dominio | uppercase}}"
    [style]="{width: '50vw'}">

    <div class="p-grid p-fluid" style="margin-top: 10px;">

        <span class="p-input-icon-left p-float-label">
            <i class="pi pi-link"></i>
            <textarea id="link-ase-input" [rows]="6" [value]="" pInputTextarea (autoResize)="true" readonly></textarea>
            <label for="link-ase-input">Link</label>
        </span>
        <button type="button" pButton icon="pi pi-copy" label="Copiar" (click)="copyToClickBoard('')"></button>
    </div>

</p-dialog>
<div (keydown.enter)="tablaPeritaciones._filter()">
    <div (keydown.enter)="tablaPeritaciones._filter()" class="grid filtros-repo">

        <div class="p-fluid grid">

            <div class="p-field col">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="dominio" (input)="setFilter(dominio,'dominio')"
                        class="p-inputtext-sm" />
                    <label for="dominioInput">Dominio</label>
                </span>
            </div>
            <div class="p-field col">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input inputId="codigoInput" pInputText type="text" [(ngModel)]="nro_siniestro"
                        (input)="setFilter(nro_siniestro, 'nro_siniestro')" class="p-inputtext-sm" />
                    <label for="codigoInput">Nro. siniestro</label>
                </span>
            </div>
            <div class="p-field col">
                <span class="p-float-label">
                    <p-dropdown [(ngModel)]="estado" [options]="estados" optionLabel="nombre" placeholder="Estado"
                        [showClear]="true" (onChange)="setFilter($any($event).value,'estado')"></p-dropdown>
                    <label for="estadoDropdown">Estado</label>
                </span>
            </div>
            <div class="p-field col">
                <span class="p-float-label">
                    <p-calendar [(ngModel)]="fechaDesde" [showIcon]="true" inputId="fechaDesde" [showButtonBar]="true"
                        (onInput)="setFilter(fechaDesde,'fechaDesde')" (onSelect)="setFilter(fechaDesde,'fechaDesde')"
                        (onClearClick)="setFilter(null,'fechaDesde')" dateFormat="dd/mm/yy"></p-calendar>
                    <label for="fechaDesde">Desde</label>
                </span>

            </div>
            <div class="p-field col">
                <span class="p-float-label">
                    <p-calendar [(ngModel)]="fechaHasta" [showIcon]="true" inputId="fechaHasta" [showButtonBar]="true"
                        (onInput)="setFilter(fechaHasta,'fechaHasta')" (onSelect)="setFilter(fechaHasta,'fechaHasta')"
                        (onClearClick)="setFilter(null,'fechaHasta')" dateFormat="dd/mm/yy"
                        [minDate]="fechaDesde"></p-calendar>
                    <label for="fechaHasta">Hasta</label>
                </span>

            </div>

            <div class="p-field col" *ngIf="aseguradoras_available.length > 1">
                <span class="p-float-label">
                    <p-multiSelect [(ngModel)]="selectedAseguradoras" [options]="aseguradoras"
                        (onChange)="setFilter($any($event).value,'aseguradora')" optionLabel="nombre"
                        [maxSelectedLabels]="3" [selectedItemsLabel]="'{0} items seleccionados'">
                        <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{option.nombre}}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                    <label for="aseguradoraDropdown">Aseguradora</label>
                </span>
            </div>

            <div class="p-field col">
                <p-button label="Filtrar" icon="pi pi-search" (click)="tablaPeritaciones._filter()"></p-button>
            </div>
            <!--             <div class="p-field col">
                <p-button label="Limpiar Filtros" icon="pi pi-plus" (click)="clearFilters()"></p-button>
            </div> -->
            <div class="p-field col">
                <p-button label="Nueva" icon="pi pi-plus" (click)="openNewApprasialDialog()"></p-button>
            </div>


        </div>

    </div>
    <div class="tabla-peritaciones">
        <p-table #tablaPeritaciones selectionMode="single" [value]="peritaciones" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true" responsiveLayout="scroll" [totalRecords]="totalRecords"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[10,25,50]" [(contextMenuSelection)]="selectedRow" [lazy]="true"
            (onLazyLoad)="loadPeritaciones($event)" [loading]="loading" [globalFilterFields]="['dominio']"
            [resizableColumns]="true" columnResizeMode="expand" [columns]="selectedColumns"
            styleClass="p-datatable-gridlines">
            <!--  <ng-template pTemplate="caption">
                <p-multiSelect [options]="getToggleColumns()" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="Columnas" [style]="{minWidth: '200px'}" placeholder="Elegir columnas">
                </p-multiSelect>

            </ng-template> -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th colspan="6">
                        Antecedente previa
                    </th>
                    <th colspan="6">
                        Peritación siniestros
                    </th>

                </tr>

                <tr>

                    <ng-container *ngFor="let col of columns" [ngSwitch]="col.id">
                        <ng-container *ngSwitchCase="'DOMINIO'">
                            <th pSortableColumn="{{col.sort}}">
                                {{col.header}}
                                <p-sortIcon field="{{col.sort}}"></p-sortIcon>
                            </th>
                        </ng-container>

                        <ng-container *ngSwitchCase="'FECHA_SOLICITUD'">
                            <th pSortableColumn="{{col.sort}}">
                                {{col.header}}
                                <p-sortIcon field="{{col.sort}}"></p-sortIcon>
                            </th>
                        </ng-container>

                        <ng-container *ngSwitchCase="'FECHA_INSPECCION'">
                            <th pSortableColumn="{{col.sort}}">
                                {{col.header}}
                                <p-sortIcon field="{{col.sort}}"></p-sortIcon>
                            </th>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            <th>
                                {{col.header}}
                            </th>
                        </ng-container>

                    </ng-container>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-peritacionRow let-rowIndex="rowIndex" let-columns="columns">
                <tr [pContextMenuRow]="peritacionRow" [pSelectableRow]="peritacionRow" [pSelectableRowIndex]="rowIndex">

                    <ng-container *ngFor="let col of columns" [ngSwitch]="col.id">
                        <ng-container *ngSwitchCase="'ESTADO'">
                            <td>
                                <p-tag styleClass="p-mr-2" [icon]="helper.getEstadoIcon(peritacionRow.estado)"
                                    [style]="{'background-color':helper.getEstadoColor(peritacionRow)}"
                                    [value]="peritacionRow.EstadoPeritacion.estado_nombre"></p-tag>
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'VER_ANTECEDENTE'">
                            <td>
                                <a *ngIf="peritacionRow.antecedente_id"
                                    [routerLink]="['/inspecciones/informe/'+ peritacionRow.antecedente_id_enc]"
                                    target="_blank" rel="noopener noreferrer"><span class="material-icons"
                                        style="cursor: pointer;" pTooltip="Ver antecedente" tooltipPosition="top">
                                        zoom_in
                                    </span></a>

                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'VER_IP'">
                            <td>
                                <a *ngIf="peritacionRow.inspeccion_id"
                                    [routerLink]="['./informe/'+ peritacionRow.enc_id]" target="_blank"
                                    rel="noopener noreferrer"><span class="material-icons" style="cursor: pointer;"
                                        pTooltip="Abrir informe" tooltipPosition="top">
                                        edit
                                    </span></a>

                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'DOMINIO'">
                            <td class="dominio">
                                {{peritacionRow[col.field]}}
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'FECHA_PERITACION'">
                            <td> {{peritacionRow.fecha | date:'dd/MM/YYYY HH:mm'}} </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'FECHA_ULTIMA_MOD'">
                            <td> {{peritacionRow.fecha_ultima_modificacion | date:'dd/MM/YYYY HH:mm'}} </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'FECHA_INSPECCION'">
                            <td> {{peritacionRow.Antecedente?.fecha | date:'dd/MM/YYYY HH:mm'}} </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'ASEGURADORA_ANTECEDENTE'">
                            <td> {{peritacionRow.Antecedente?.Aseguradora?.Aseguradoras_Nombre}} </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'VER_IN'">
                            <td> {{peritacionRow.InspeccionOriginal?.ver}} </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'VER'">
                            <td> {{peritacionRow.Inspeccion?.ver}} </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'COBERTURA_ANTECEDENTE'">
                            <td> {{peritacionRow.Antecedente?.cobertura}} </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'ASEGURADO_ANTECEDENTE'">
                            <td> {{(peritacionRow.Antecedente?.InspeccionVarios?.titular_apellido||'') + " " +
                                (peritacionRow.Antecedente?.InspeccionVarios?.titular_nombre ||
                                '')}} </td>
                        </ng-container>

                        <ng-container *ngSwitchCase="'TIEMPO'">
                            <td> {{peritacionRow.Auditoria?.tiempo}} </td>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            <td>
                                {{peritacionRow[col.field]}}
                            </td>
                        </ng-container>

                    </ng-container>


                </tr>
            </ng-template>
        </p-table>
        <div class="row">
            <div class="p-field col download-row">
                <p-button label="Exportar" icon="pi pi-download" styleClass="p-button-success"
                    (click)="downloadReport()"></p-button>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Nueva peritación" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body"
    [(visible)]="newApprasialDialogVisible" [style]="{width: '75vw'}" [contentStyle]="{height: '500px'}">
    <app-nueva-peritacion (onApprasialAdded)="apprasialAdded()"></app-nueva-peritacion>
</p-dialog>