<div class="p-5 gris mt-5">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="box py-3 p-shadow-8">
          <p-card class="text-center">
            <a href="https://www.barbara.com.ar/ayuda/manualBarbara.pdf" target="_blank" class="p-button p-button-secondary p-button-text">
              <span class="pi pi-book"></span>
            </a>
            <h4>MANUAL</h4>
          </p-card>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="box py-3">
        <p-card class="text-center">
          <a href="https://prezi.com/view/L3QOgiOVF0Rc991X8WHI/" target="_blank" class="p-button p-button-info p-button-text">
            <span class="pi pi-step-forward"></span>
          </a>
          <h4>PRESENTACIÓN</h4>
        </p-card>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="box py-3">
        <p-card class="text-center">
          <a href="https://www.barbara.com.ar/ayuda/formulario_inspeccion_auto.pdf" target="_blank" class="p-button p-button-danger p-button-text">
            <span class="pi pi-file-pdf"></span>
          </a>
          <h4>FORMULARIO AUTO</h4>
        </p-card>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="box py-3">
        <p-card class="text-center">
          <a href="https://www.barbara.com.ar/ayuda/formulario_inspeccion_hogar.pdf" target="_blank" class="p-button p-button-danger p-button-text">
            <span class="pi pi-file-pdf"></span>
          </a>
          <h4>FORMULARIO HOGAR</h4>
        </p-card>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-12 md:col-12 lg:col-6">
      <div class="box py-3">
        <p-card class="text-center">
          <div class="h-full md:h-auto border-round flex align-items-center justify-content-center" >
            <video width="640" height="360" controls>
              <source src="../../assets/videos/Barbara.mp4" type="video/mp4">
            </video>
          </div>
          <h4>VIDEO 1: PLANILLA DE CAPTURA</h4>
        </p-card>
      </div>
    </div>
    <div class="col-12 md:col-12 lg:col-6">
      <div class="box py-3">
       <p-card class="text-center">
        <div class="h-full md:h-auto flex align-items-center justify-content-center" >
          <video width="600" height="360" controls>
            <source src="../../assets/videos/Barbara2.mp4" type="video/mp4">
          </video>
        </div>

          <!-- <a href="https://youtu.be/nTaC_0FgqSU?list=PLU8oAlHdN5BnNAe8zXnuBNzKID39DUwcO" class="p-button p-button-primary p-button-text">
            <span class="pi pi-video"></span>
          </a> -->
          <h4>VIDEO 2: FOTOGRAFÍAS DE LA UNIDAD</h4>
        </p-card>
      </div>
    </div>
    <div class="col-12 md:col-12 lg:col-6">
      <div class="box py-3">
        <p-card class="text-center">
          <div class="h-full md:h-auto flex align-items-center justify-content-center" >
            <video width="640" height="360" controls>
              <source src="../../assets/videos/Barbara3.mp4" type="video/mp4">
            </video>
          </div>
          <h4>VIDEO 3: CARGA EN BÁRBARA</h4>
        </p-card>
      </div>
    </div>
    <div class="col-12 md:col-12 lg:col-6">
      <div class="box py-3">
        <p-card class="text-center">
          <div class="h-full md:h-auto flex align-items-center justify-content-center">
              <video width="530" height="360" controls>
                <source src="../../assets/videos/brb_eiquetado_de_imagenes.mp4" type="video/mp4">
              </video>
          </div>
          <h4>VIDEO 4: ETIQUETADO DE IMÁGENES</h4>
        </p-card>
      </div>
    </div>
  </div>
</div>




