<div class="py-5 md:px-9 lg:px-8 text-center text-blue-700">
    <div class="text-blue-600 mb-3 font-medium text-2xl mb-4 md:text-start">¡Gracias por elegirnos!</div>
    <div class="mb-5">Para completar la emisión de esta póliza, necesitamos inspeccionar el vehículo</div>
    <div class="col-12 flex justify-content-center flex-wrap">
        <div class="h-16rem ">
            <div class="shadow-2 flex flex-column surface-card border-radius-6 in_center px-5 py-4 mx-5">          
                <button pButton pRipple label="Inspección digital" icon="pi pi-mobile" 
                class="px-6 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 mb-4" 
                (click)="nextPage()"></button>
                <button pButton pRipple label="Inspección presencial" icon="pi pi-car" 
                class="px-6 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 mb-4"></button>
                <a class="text-blue-600 text-center mt-3 block" href="#"><span class="underline">¿Cómo realizar la inspección digital?</span></a>
            </div>
        </div>
    </div>         
</div>
