<div class="py-2 md:px-9 lg:px-8 text-center text-blue-700">
    <div class="text-blue-600 mb-3 font-medium text-2xl mb-1 md:align-content-start">Confirmar Detalles</div>
        <div class="col-12 flex justify-content-center flex-wrap wrapper">
            <div class="h-16rem">
                <!-- <div class="shadow-2 flex flex-column surface-card border-round px-2 py-3">
                    <div class="col-12 md:col-12 lg:col-12">
                        <div class="block">
                            <div class="grid">
                                <div class="col">
                                    <p-selectButton class="block" [options]="gncOption" [(ngModel)]="gncValue" optionLabel="label" optionValue="gncValue"></p-selectButton>
                                </div>
                                <div class="col flex align-items-center"><span>Posee GNC</span></div>
                            </div>
                        </div>
                        <hr class="">
                        <div class="block">
                            <div class="grid">
                                <div class="col">
                                    <p-selectButton class="block" [options]="airbagOption" [(ngModel)]="airbagValue" optionLabel="label" optionValue="airbagValue"></p-selectButton>
                                </div>
                                <div class="col flex align-items-center"><span>AirBag explotado</span></div>
                            </div>
                        </div>
                        <hr>
                        <div class="block">
                            <div class="grid">
                                <div class="col">
                                    <p-selectButton class="block" [options]="auxWheelOption" [(ngModel)]="auxWheelValue" optionLabel="label" optionValue="auxWheelValue"></p-selectButton>
                                </div>
                                <div class="col flex align-items-center text-left"><span>Posee rueda auxilio</span></div>
                            </div>
                        </div>
                        <hr>
                        <div class="block">
                            <div class="grid">
                                <div class="col">
                                    <p-selectButton ngDefaultControl class="block" [options]="vtvOption" [(ngModel)]="vtvValue" optionLabel="label" optionValue="vtvValue"></p-selectButton>
                                </div>
                                <div class="col text-left"><span>Declaro que en mi jurisdicción la VTV no resulta exigible para este vehículo</span></div>
                            </div>
                        </div>
                     </div>
                </div> -->
                <button pButton pRipple label="Continuar" icon="pi pi-chevron-circle-right" iconPos="right"
                class="px-5 p-button-raised p-button-rounded white-space-nowrap bg-blue-700 mt-4"
                (click)="nextPage()"></button>
            </div>
        </div>
</div>

